<button type="button" ng-click="open()">Add Gun</button>



 <table st-table="user.guns" class="table table-striped">
            <thead>
                <tr>
                    <th st-sort="name">Manufacturer</th>
                    <th st-sort="name">Model</th>
                    <th st-sort="name">Type</th>
                    <th st-sort="name">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in user.guns">
                    <td>{{row.manufacturer}}</td>
                    <td>{{row.model}}</td>
                    <td>{{row.type}}</td>
                     <td>
                         <span ng-if="row.type == 'Shotgun'">{{row.cartridgeSize}} Gauge,</span>
                         <span ng-if="row.type != 'Shotgun'">{{row.cartridgeSize}} Caliber,</span>
                          <span ng-if="row.chamberLength">{{row.chamberLength}} Inch Chamber Length,</span>
                          <span ng-if="row.choke">{{row.choke}} Choke ,</span>
                          <span ng-if="row.twistRate">{{row.twistRate}} Twist Rate,</span>
                          <span ng-if="row.barrelLength">{{row.barrelLength}} Inch Barrel</span>
                          
                    </td>
                    <td>
                        <input type="button" value="Delete" ng-click="deleteGun(row)"/>
                    </td>
                </tr>
            </tbody>
        </table>

